* {
  font-family: "Inter", sans-serif;
  /* background-color: #f8f8fc; */
  /* max-width: 1140px; */
  /* margin: auto; */
}

@import "tailwindcss";

.holud {
  color: #e95a08;
}
.title h3 {
  /* font-size: 1.5rem; */
  font-weight: 700;
  font-family: "Noto Serif", serif;
}

.title-para {
  /* font-size: 0.88rem; */
  color: #00000050;
}

.btn {
  background-color: #e95a08;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 1.1rem 1.75rem;
  cursor: pointer;
}

#overlay1 {
  background-color: transparent;
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  height: 10rem;
  width: 100%;
  display: block;
}
#overlay1-text {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .slow-spin {
    animation-duration: 5s;
  }
}
/* 
@import "tailwindcss";
module.exports = {
  theme: {
    extend: {
      fontFamily: {
        notoserif: ['Noto Serif', 'serif'],
      },
    },
  },
  plugins: [],
}; */
